x-name:
 - &NAME narrowcasting-ns

x-template: &default-template
  environment:
    TZ: Europe/Amsterdam
  restart: "unless-stopped"
  container_name: *NAME
  hostname: *NAME

services:
  *NAME:
    <<: *default-template
    image: ghcr.io/vslcatena/docker-narrowcasting-ns
    environment:
      - NS_API_KEY=1234
      - NS_STATION_ID=1234
    ports:
      - "80:80/tcp"
    volumes:
      - ./html:/var/www/html

