html, body {
	height: 100%;
	background-size: cover;
	background-repeat:no-repeat;
	background-color: #000;
}

body.day {
	background-image: url(background-day.jpg);
}

body.night {
	background-image: url(background-night.jpg);
}

.day .bg-color {
	background-color: #f8f9fa;
}

.night .bg-color {
	background-color: #343a40;
}


.day .dynamic-color {
	color: #343a40;
}

.night .dynamic-color {
	color: #FFF;
}


.bg-darkblue {
	background-color: #000468!important
	
}

.bg-nsyellow {
	background-color: #f2c400!important
}

.container {
	display:none; 
	min-width:90%; 
	margin-bottom:0;
}

#departures td {
	padding: 0.25rem;
	
}

#feedbase {
	padding:5px 5px 5px 5px;
	overflow: hidden;
	position: relative;
	height: 50px;
}

#feed {
	white-space:nowrap;
	font-size: 3vh;
	position: absolute;
	height: 100%;
	min-width:100%;
	margin: 0;
	text-align: left;
	/* Starting position */
	-moz-transform:translateX(100%);
	-webkit-transform:translateX(100%);	
	transform:translateX(100%);
	/* Apply animation to this element */	
	-moz-animation: feedbase 100s linear infinite;
	-webkit-animation: feedbase 100s linear infinite;
	animation: feedbase 100s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes feedbase {
	0%   { -moz-transform: translateX(100%); }
	100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes feedbase {
	0%   { -webkit-transform: translateX(100%); }
	100% { -webkit-transform: translateX(-100%); }
}
@keyframes feedbase {
	0%   { 
		-moz-transform: translateX(5%); /* Firefox bug fix */
		-webkit-transform: translateX(5%); /* Firefox bug fix */
		transform: translateX(5%); 		
	}
	100% { 
		-moz-transform: translateX(-100%); /* Firefox bug fix */
		-webkit-transform: translateX(-100); /* Firefox bug fix */
		transform: translateX(-100%); 
	}
}



.fontparty {
	font-family:Comic Sans MS, cursive, sans-serif;
}

.li-nobullet {
	list-style: none;
}